* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: arial;
}
html,
body {
  height: 100%;
}
#map {
  height: 200px;
  width: 100%;
}
.navbar {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48.4px;
  background-color: #00f;
}
.navbar ul {
  position: relative;
  display: inline-table;
  width: 100%;
  list-style: none;
}
.navbar ul ul {
  display: none;
  background: #5f6975;
  position: absolute;
  top: 100%;
}
.navbar ul ul li {
  float: none;
  position: relative;
}
.navbar ul ul li a {
  color: #fff;
}
.navbar ul ul li a:hover {
  background: #4b545f;
}
.navbar ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.navbar ul li {
  float: left;
}
.navbar ul li a {
  display: block;
  padding: 15px 30px;
  color: #757575;
  text-decoration: none;
}
.navbar ul li ul {
  width: 85px;
}
.navbar ul li ul a {
  text-align: center;
  padding: 5px 10px;
}
.navbar ul li:hover {
  background-color: #4b545f;
}
.navbar ul li:hover > ul {
  display: block;
}
.navbar ul li:hover a {
  color: #fff;
}
.navbar ul .burger {
  float: right;
}
.navbar ul .burger .ham {
  padding: 1px 50px 0 30px;
  font-size: 2.6em;
}
.navbar ul:after {
  content: "";
  clear: both;
  display: block;
}
section {
  height: 640px;
  width: 360px;
  padding-top: 60px;
}
section h2 {
  text-align: center;
}
#home div ul li {
  margin-left: 1.5em;
}
.ridecol-top {
  border: solid #000 1px;
}
