*
  margin 0
  padding 0
  -moz-box-sizing border-box
  box-sizing border-box
  font-family arial

html, body
  height 100%

#map
  height 200px
  width 100%

// Navbar CSS
.navbar
  z-index 1
  position fixed
  top 0
  width 100%
  height 48.4px
  background-color blue
  ul
    position relative
    display inline-table
    width 100%
    list-style none
    ul
      display none
      background #5f6975
      position absolute
      top 100%
      li
        float none
        position relative
        a
          color #fff
        a:hover
          background #4b545f
      ul
        position absolute
        left 100%
        top 0
    li
      float left
      a
        display block
        padding 15px 30px
        color #757575
        text-decoration none
      ul
        width 85px
        a
          text-align center
          padding 5px 10px
    li:hover
      background-color #4b545f
    li:hover > ul
      display block
    li:hover a
      color #fff
    .burger
      float right
      .ham
        padding 0 50px 30px
        font-size 2.6em
  ul:after
    content ""
    clear both
    display block

// General Section CSS
section
  height 640px
  width 360px
  padding-top 60px
  h2
    text-align center

// Home page CSS
#home
  div
    ul
      li
        margin-left 1.5em

// Ride1 CSS
.ridecol-top
  border solid black 1px
